<!-- Sidebar -->
<div class="container">
  <div class="logo">
    <svg xmlns="http://www.w3.org/2000/svg" width="32.519" height="30.7" viewBox="0 0 32.519 30.7" fill="#363b46">
      {{!-- <g id="Logo" transform="translate(-90.74 -84.875)">
        <path id="B"
          d="M14.378-30.915c-5.124,0-9.292,3.767-9.292,10.228S9.254-10.46,14.378-10.46h1.471c5.124,0,9.292-3.767,9.292-10.228s-4.168-10.228-9.292-10.228H14.378M11.7-33.456h6.819A12.768,12.768,0,0,1,31.29-20.687,12.768,12.768,0,0,1,18.522-7.919H11.7A12.768,12.768,0,0,1-1.065-20.687C-2.4-51.282,4.652-33.456,11.7-33.456Z"
          transform="translate(91.969 123.494)" />
      </g> --}}
    </svg>
  </div>
  <ul class="link-items">
    <li class="link-item active">
      <a href="#" class="link">
        <ion-icon name="home-outline"></ion-icon>
        <span style="--i: 1">Home</span>
      </a>
    </li>
    <li class="link-item">
      <a href="/dashboard" class="link">
        <ion-icon name="cube-outline"></ion-icon>
        <span style="--i: 2">dashboard</span>
      </a>
    </li>
    {{!-- dropdown --}}
    <li class="link-item">
      <a href="/evenhead" class="link"><ion-icon name="create-outline"></ion-icon>
        <span style="--i: 3"> Event_Head </span>
      </a>
    </li>
    <li class="link-item">
      <a href="/Addround" class="link"><ion-icon name="create-outline"></ion-icon>
        <span style="--i: 3">create_Round</span>
      </a>
    </li>
    <li class="link-item">
      <a href="/createteam" class="link"><ion-icon name="create-outline"></ion-icon>
        <span style="--i: 3">create_Team</span>
      </a>
    </li>
    <li class="link-item">
      <a href="/AddSub" class="link"><ion-icon name="create-outline"></ion-icon>
        <span style="--i: 3">create_Subject</span>
      </a>
    </li>
    <li class="link-item">
      <a href="/add_Question" class="link"><ion-icon name="create-outline"></ion-icon>
        <span style="--i: 3">create_Question</span>
      </a>
    </li>


    <li class="link-item">
      <a href="/list_subjects" class="link">
        <ion-icon name="eye-outline"></ion-icon><span style="--i: 5">view subjectlist</span>
      </a>
    </li>
    <li class="link-item">
      <a href="/filterteams" class="link">
        <ion-icon name="eye-outline"></ion-icon><span style="--i: 5">view TeamLists</span>
      </a>
    </li>
    <li class="link-item">
      <a href="/adminlists" class="link">
        <ion-icon name="person-sharp"></ion-icon> <span style="--i: 7">Admin</span>
      </a>
    </li>
    
    <li class="link-item">
      <a href="/filterresults" class="link">
        <ion-icon name="help-circle-outline"></ion-icon>
        <span style="--i: 7">Results</span>
      </a>
    </li>



  </ul>
</div>